:root {
    --primary-color: #0089E0;
    --light-color: #f3f4f4;
    --light-text: #979797;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}

.contenedor {
    width: 90%;
    max-width: 1080px;
    margin: 0 auto;
}

.titulo-seccion {
    text-align: center;
    margin-bottom: 40px;
}

.titulo-seccion h2 {
    color: var(--primary-color);
    font-size: 3.125rem;
    margin-bottom: 10px;
    font-weight: 500;
}

.titulo-seccion p {
    color: var(--light-text);
    font-size: 1rem;
    font-weight: 400;
}

.btn-volver-arriba {
    display: inline-block;
    width: 40px;
    height: 40px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 30%;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 999;
    margin-right: -60px;
    transition: all .4s ease;
}

.btn-volver-arriba a {
    display: inline-block;
    width: 100%;
    height: 100%;
    border-radius: 30%;
    text-align: center;
}

.btn-volver-arriba a i {
    font-size: 1rem;
    color: #fff;
    line-height: 40px;
}

.menu-bar-pc {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 100;
    padding: 0 36px;
    width: 100%;
    min-height: 68px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}

.logo {
    display: inline-block;
}

.logo img {
    vertical-align: top;
}

.menu-principal a,
.top-redes a {
    display: inline-block;
    padding: 0 10px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    font-size: 0.8rem;
    letter-spacing: 0;
    line-height: 1.5em;
    transition: all .3s ease;
}

.menu-principal a:last-child,
.top-redes a:last-child {
    padding-right: 0;
}

.top-redes a i {
    font-size: 1rem;
}

.menu-principal a:hover,
.top-redes a:hover {
    color: var(--primary-color);
}

.fixed-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100%;
    padding: 0 36px;
    min-height: 68px;
    border-bottom: 1px solid rgba(204, 204, 204, 0.5);
    background: #fff;
    transition: all .4s ease;
    margin-top: -68px;
}

.fixed-header .menu-principal a,
.fixed-header .top-redes a {
    color: #444;
}

.fixed-header .menu-principal a:hover,
.top-redes a:hover {
    color: var(--primary-color);
}

.menu-mobile {
    display: none;
}

.main {
    width: 100%;
    margin-top: -68px;
}

.main .banner-principal {
    width: 100%;
    position: relative;
}

.main .banner-principal .banner {
    width: 100%;
    height: 100vh;
    background-image: url(../img/banner.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.main .banner-principal .texto-banner {
    display: inline-block;
    width: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.main .banner-principal .texto-banner h2 {
    font-weight: 300;
    color: #fff;
    margin-bottom: 20px;
}

.main .banner-principal .texto-banner h1 {
    font-size: 4rem;
    font-weight: 700;
    line-height: 90px;
    color: #fff;
    margin-bottom: 30px;
}

.main .banner-principal .texto-banner a {
    text-decoration: none;
    display: inline-block;
    padding: 8px 20px;
    background: var(--primary-color);
    color: #fff;
    transition: all .7s ease;
}

.main .banner-principal .texto-banner a:hover {
    background: #fff;
    color: var(--primary-color);
}

.main .promociones {
    background: var(--light-color);
    padding: 108px 0 54px 0;

}

.main .promociones .galeria-destinos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 34px;
    border-bottom: 1px solid #ccc;
}

.main .promociones .galeria-destinos .destino {
    width: 32%;
    cursor: pointer;
    margin-bottom: 2%;
}

.main .promociones .galeria-destinos .destino img {
    width: 100%;
    vertical-align: top;
}

.promo {
    max-width: 1150px;
    display: flex;
}

.promo .card {
    background: #fff;
    margin: 0 10px;
    flex: 1;
}

.promo .card .img {
    height: 200px;
    width: 100%;
}

.promo .card .img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.promo .card .content {
    padding: 10px 20px;
}

.card .content .title{
    font-size: 25px;
    font-weight: 600;
}

.card .content .sub-title {
    font-size: 20px;
    font-weight: 600;
    color: blueviolet;
    line-height: 20px;
}

.card .content p {
    text-align: justify;
    margin: 10px 0;
}

.card .content .btn {
    display: block;
    text-align: left;
    margin: 10px 0;
}

.card .content .btn button {
    background: darkviolet;
    color: #fff;
    border: none;
    outline: none;
    font-size: 17px;
    padding: 5px 8px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.2s;
}

.card .content .btn button:hover {
    transform: scale(0.9);
}

/* Modal seccion destinos */

.main .acerca-de {
    background: var(--light-color);
}

.main .acerca-de .contenedor {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.main .acerca-de .contenedor .titulo-seccion {
    width: 33.33%;
    text-align: left;
}

.main .acerca-de .contenedor .titulo-seccion h2 {
    margin-bottom: 0;
}

.main .acerca-de .texto-acerca-de {
    width: 66.66%;
    text-align: left;
}

.main .acerca-de .texto-acerca-de p {
    color: var(--light-text);
    font-size: 1rem;
    font-weight: 400;
}

.main .contenedor-slider {
    width: 100%;
    overflow: hidden;
    background: var(--light-color);
    position: relative;
}

.main .contenedor-slider .slider {
    width: 400%;
    display: flex;
}

.main .contenedor-slider .slider .slide {
    width: 15%;
    max-width: 950px;
    margin-right: 0.7%;
    box-shadow: 0px 20px 40px #aaa;
}

.main .contenedor-slider .slider .slide img {
    width: 100%;
    vertical-align: top;
}

.main .contenedor-slider .btn-anterior,
.main .contenedor-slider .btn-siguiente {
    display: inline-block;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.main .contenedor-slider .btn-anterior {
    left: 2%;
}

.main .contenedor-slider .btn-siguiente {
    right: 2%;
}

.main .contenedor-slider .btn-anterior i,
.main .contenedor-slider .btn-siguiente i {
    color: #fff;
}

.main .contenedor-slider .btn-anterior i:hover,
.main .contenedor-slider .btn-siguiente i:hover {
    color: var(--primary-color);
}

.main .testimonios {
    background: var(--light-color);
    padding-top: 54px;
    padding-bottom: 108px;
}

.main .testimonios .testigo {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.main .testimonios .testigo .persona-testigo {
    background-color: #fff;
    padding: 50px;
    width: 100%;
    max-width: 300px;
    box-shadow: 0px 9px 32px -1px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.main .testimonios .testigo .persona-testigo:first-child,
.main .testimonios .testigo .persona-testigo:last-child {
    position: relative;
    top: 20px;
}

.main .testimonios .testigo .persona-testigo .foto {
    width: 50%;
    max-width: 100px;
    display: inline-block;
    margin-bottom: 10px;
}

.main .testimonios .testigo .persona-testigo .foto img {
    width: 100%;
    border-radius: 100%;
}

.main .testimonios .testigo .persona-testigo .texto h3 {
    font-size: 1.3rem;
    font-weight: 500;
    color: var(--primary-color);
}

.main .testimonios .testigo .persona-testigo .texto h4 {
    color: var(--light-text);
    font-size: 0.8rem;
    font-weight: 400;
    margin-bottom: 15px;
}

.main .testimonios .testigo .persona-testigo .texto p {
    color: var(--light-text);
    font-size: 0.9rem;
    font-weight: 400;
}

.main .info-extra {
    background: #191919;
    padding: 130px 0;
}

.main .info-extra .contenedor {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.main .info-extra .contenedor .info {
    width: 50%;
}

.main .info-extra .contenedor .info .contenido-info {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}

.main .info-extra .contenedor .info .contenido-info:first-child {
    margin-bottom: 30px;
}

.main .info-extra .contenedor .info .contenido-info .icono-info {
    width: 5%;
}

.main .info-extra .contenedor .info .contenido-info .icono-info i {
    font-size: 1.5rem;
    color: #fff;
}

.main .info-extra .contenedor .info .contenido-info .texto-info {
    margin-left: 3%;
}

.main .info-extra .contenedor .info .contenido-info .texto-info h4 {
    font-size: 1.875rem;
    line-height: 24px;
    color: #fff;
    font-weight: 500;
    margin-bottom: 15px;
}

.main .info-extra .contenedor .info .contenido-info .texto-info p {
    color: var(--light-text);
    font-size: 1rem;
    font-weight: 400;
}

.main .info-extra .contenedor .foto {
    width: 50%;
    height: 300px;
    box-shadow: 0px 9px 32px -1px rgba(0, 0, 0, 0.5);
    background-image: url(../img/info-foto.jpg);
    background-position: center;
    background-size: cover;
}

.main .contacto {
    padding: 190px 0;
    background-image: url(../img/bg-contacto.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.main .contacto .contenedor-formulario {
    background: #fff;
    min-height: 485px;
    border-radius: 3px;
    box-shadow: 0px 9px 2px -1px rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: space-between;
}

.main .contacto .contenedor-formulario .formulario {
    width: 50%;
    padding: 70px;
}

.main .contacto .contenedor-formulario .formulario h2 {
    font-size: 1.375rem;
    line-height: 24px;
    color: var(--primary-color);
    font-weight: 500;
    margin-bottom: 10px;
}

.main .contacto .contenedor-formulario .formulario p {
    color: var(--light-text);
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 30px;
}

.main .contacto .contenedor-formulario .formulario form input[type="text"],
.main .contacto .contenedor-formulario .formulario form input[type="email"] {
    border: none;
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
    outline: none;
    width: 100%;
    margin-bottom: 10px;
    color: var(--light-text);
    font-size: 0.9rem;
    font-weight: 400;
    letter-spacing: 0.5px;
}

.main .contacto .contenedor-formulario .formulario form textarea {
    border: none;
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
    outline: none;
    width: 100%;
    max-width: 100%;
    min-height: 88px;
    max-height: 88px;
    color: var(--light-text);
    margin-bottom: 10px;
    font-size: 0.9rem;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 0;
}

.main .contacto .contenedor-formulario .formulario form input[type="submit"] {
    width: 100%;
    border: none;
    border: 1px solid var(--primary-color);
    padding: 8px;
    background: var(--primary-color);
    color: #fff;
    font-size: 0.9rem;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 0.5px;
    cursor: pointer;
    transition: all .7s ease;
}

.main .contacto .contenedor-formulario .formulario form input[type="submit"]:hover {
    background: #fff;
    color: var(--primary-color);
}

.main .contacto .contenedor-formulario .foto {
    width: 50%;
    background-image: url(../img/foto-contacto.jpg);
    background-size: cover;
}

/*-------------VIAJES------------ */
.main .viajes {
    background: #f8f5f5;
    /*COLOR CREMA DEL FONDO*/
    padding: 108px 0 54px 0;
}

.contenedor-menu {
    margin-top: 2.5rem;
}

.contenedor-menu .encabezado {
    font-weight: 700;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    list-style: none;
    display: flex;
    justify-content: center;
}

.contenedor-menu .encabezado li a {
    text-decoration: none;
    color: #0a3782;
    font-size: 0.75rem;
    padding: 0 1.4375rem 1.125rem 1.4375rem;
    display: block;
    cursor: pointer;
    transition: all .3s ease;
    border-bottom: 2px solid transparent;
}

.contenedor-menu .encabezado a:hover {
    color: #27afef;
}

.contenedor-menu .encabezado li.active a {
    color: #27afef;
    border-bottom: 2px solid #27afef;
}

.main .viajes .contenedor .contenedor-menu .contenido {
    margin-top: 2.5rem;
    padding: 0 2.25rem;
    display: flex;
    justify-content: center;

}

.main .viajes .contenedor .contenedor-menu .contenido>div {
    /*HACE REFERENCIA AL HIJO DIRECTO DE CONTENIDO*/
    display: none;
    transition: all 0.3s ease;
}

.main .viajes .contenedor .contenedor-menu .contenido .active {
    display: block;
    width: 90%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.main .viajes .contenedor .contenedor-menu .contenido .viaje {
    width: 32%;
    position: relative;
    background-repeat: no-repeat;
    height: 300px;
    background-position: center;
    background-size: cover;
}

.main .viajes .contenedor-menu .contenido .viaje .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(133, 168, 192, 0.3);
    z-index: 1;
    cursor: pointer;
    transition: all 0.3s ease;
}

.main .viajes .contenedor-menu .contenido .viaje .overlay:hover {
    background: rgba(133, 168, 192, 0.5);
}

.main .viajes .contenedor .contenedor-menu .contenido .viaje .texto-viaje {

    color: #fff;
    font-size: 1.5rem;
    position: absolute;
    text-align: center;
    z-index: 2;
    margin-top: 220px;
    margin-left: 10px;
}

.main .viajes .contenedor .contenedor-menu .contenido .btn {
    display: block;
    margin: auto;
    margin-top: 30px;
}

.main .viajes .contenedor .contenedor-menu .contenido .btn a {
    color: #fff;
    background-color: #27afef;
    padding: 10px 20px;
    border-radius: 3px;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    text-transform: uppercase;
    box-shadow: 0px 9px 32px -1px rgba(0, 0, 0, 0.3);
    transition: all .5s ease;
}


.main .viajes .contenedor .contenedor-menu .contenido .btn a:hover {
    color: #27afef;
    background-color: #fff;
}

.main .viajes .contenedor .contenedor-menu .contenido .viaje.sudamerica-a {
    background-image: url("../img/peru.jpeg");
}

.main .viajes .contenedor .contenedor-menu .contenido .viaje.sudamerica-b {
    background-image: url("../img/chile.jpg");
}

.main .viajes .contenedor .contenedor-menu .contenido .viaje.sudamerica-c {
    background-image: url("../img/brasil.jpg");
}


.main .viajes .contenedor .contenedor-menu .contenido .viaje.norteamerica-a {
    background-image: url("../img/disney.jpg");
}

.main .viajes .contenedor .contenedor-menu .contenido .viaje.norteamerica-b {
    background-image: url("../img/sf.jpg");
}

.main .viajes .contenedor .contenedor-menu .contenido .viaje.norteamerica-c {
    background-image: url("../img/canada.jpg");
}


.main .viajes .contenedor .contenedor-menu .contenido .viaje.caribe-a {
    background-image: url("../img/cuba.jpg");
}

.main .viajes .contenedor .contenedor-menu .contenido .viaje.caribe-b {
    background-image: url("../img/costa-rica.jpg");
}

.main .viajes .contenedor .contenedor-menu .contenido .viaje.caribe-c {
    background-image: url("../img/los-roques.jpg");
}


.main .viajes .contenedor .contenedor-menu .contenido .viaje.europa-a {
    background-image: url("../img/reino-unido.jpg");
}

.main .viajes .contenedor .contenedor-menu .contenido .viaje.europa-b {
    background-image: url("../img/grecia.jpg");
}

.main .viajes .contenedor .contenedor-menu .contenido .viaje.europa-c {
    background-image: url("../img/francia.jpg");
}

.main .viajes .contenedor .contenedor-menu .contenido .viaje.asia-a {
    background-image: url("../img/japon.jpg");
}

.main .viajes .contenedor .contenedor-menu .contenido .viaje.asia-b {
    background-image: url("../img/indonesia.jpg");
}

.main .viajes .contenedor .contenedor-menu .contenido .viaje.asia-c {
    background-image: url("../img/turquia.jpg");
}

footer {
    background: var(--light-color);
    padding: 54px 0;
    text-align: center;
}

footer .copy {
    color: var(--light-color);
    color: var(--light-text);
    font-size: 0.9rem;
    font-weight: 400;
    margin-bottom: 15px;
}

footer .footer-redes a {
    display: inline-block;
    padding: 0 10px;
    color: var(--light-text);
    text-decoration: none;
    font-weight: 500;
    font-size: 0.875rem;
    letter-spacing: 0;
    line-height: 1.5em;
    transition: all .3s ease;
}

footer .footer-redes a:hover {
    color: var(--primary-color);
}


@media screen and (max-width: 1040px) {
    .main .viajes .contenedor .contenedor-menu .contenido .btn{
      margin-top: 50px;
    }

    .main .testimonios .titulo-seccion {
        margin-bottom: 60px;
    }

    .main .testimonios .testigo .persona-testigo {
        max-width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        text-align: left;
    }

    .main .testimonios .testigo .persona-testigo:first-child {
        top: -20px;
    }

    .main .testimonios .testigo .persona-testigo .foto {
        margin-right: 20px;
    }

    .main .info-extra .contenedor .info {
        width: 100%;
    }

    .main .info-extra .contenedor .foto {
        display: none;
    }
}

@media screen and (max-width: 900px) {
    .menu-bar-pc {
        display: none;
    }

    .menu-mobile {
        display: block;
        width: 100%;
        padding: 5px 18px;
        color: #444;
        background: #fff;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 100;
    }

    .menu-mobile .barra {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .menu-mobile .barra .logo {
        width: 40px;
    }

    .menu-mobile .barra a i {
        font-size: 1.4rem;
        color: #444;
    }

    .menu-mobile .menu-principal {
        width: 80%;
        display: block;
        position: fixed;
        top: 56px;
        left: 100%;
        border-bottom: 1px solid rgba(204, 204, 204, 0.5);
        border-right: 1px solid rgba(204, 204, 204, 0.5);
        box-shadow: 0px 1px 5px -1px rgba(0, 0, 0, 0.2);
        background: #fff;
        text-align: center;
    }

    .menu-mobile .menu-principal a {
        display: block;
        padding: 10px;
        color: #444;
        border-bottom: 1px solid rgba(204, 204, 204, 0.5);
    }

    .menu-mobile .menu-principal a:hover {
        background: #f7f7f7;
    }

    .fixed-header {
        display: none;
    }

    .main {
        margin-top: 0;
    }

    .contenedor-menu .encabezado li a{
        display: none;
    }

    .contenedor-menu .encabezado .ver-menu{
        text-decoration: none;
        color: #0a3782;
        font-size: 0.75rem;
        padding: 0 1.4375rem 1.125rem 1.4375rem;
        display: block;
        cursor: pointer;
        transition: all .3s ease;
        border-bottom: 2px solid transparent;
    }

    .main .banner-principal .texto-banner h1 {
        font-size: 3rem;
    }
    .main .banner-principal .texto-banner h2 {
        font-size: 1.4rem;
    }

    .main .viajes .contenedor .contenedor-menu .contenido .viaje{

        width: 100%;
        margin: auto;
        background-position: bottom;
        background-size: cover;
        margin-bottom: 10px;
      }

    .main .acerca-de .contenedor .titulo-seccion,
    .main .acerca-de .contenedor .texto-acerca-de {
        width: 100%;
        text-align: center;
    }

    .main .contacto .contenedor-formulario .formulario {
        width: 100%;
        text-align: center;
    }

    .main .contacto .contenedor-formulario .foto {
        display: none;
    }

    .main .contacto .contenedor-formulario .formulario form input[type="text"],
    .main .contacto .contenedor-formulario .formulario form input[type="email"],
    .main .contacto .contenedor-formulario .formulario form textarea {
        text-align: center;
    }

@media screen and (max-width: 550px) {
    .main .banner-principal .texto-banner h1 {
        font-size: 2.3rem;
    }
    .main .banner-principal .texto-banner h2 {
        font-size: 1.3rem;
    }
    .titulo-seccion h2 {
        font-size: 2.125rem;
    }
    .main .promociones .galeria-destinos .destino {
        width: 49%;
    }
    .main .testimonios .testigo .persona-testigo {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .main .info-extra .contenedor .info .contenido-info {
        flex-wrap: wrap;
        text-align: center;
    }

    .main .info-extra .contenedor .info .contenido-info .icono-info {
        width: 100%;
        margin-bottom: 25px;
    }

    .main .info-extra .contenedor .info .contenido-info .icono-info i {
        font-size: 3.5rem;
    }

    .main .info-extra .contenedor .info .contenido-info .texto-info {
        margin-left: 0;
    }

    .main .info-extra .contenedor .info .contenido-info .icono-info h4 {
        font-size: 1.175rem;
    }

    .main .info-extra .contenedor .info .contenido-info:first-child {
        margin-bottom: 40px;
    }
}

